<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles.css">

<div id="app">
    <p v-if="show">You can see me!<span> Hello!</span></p>
    <p v-else>Can you also see me?</p>

    <template v-if="show">
        <h1>Heading</h1>
        <p>Inside a template</p>
    </template>
    <p v-show="show">Do you also see me</p>
    <button @click="show = !show">PRESS ME</button>
</div>

<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            show: true,
        },
    });
</script>